<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="eng">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<h1>Edit User</h1>

<form th:method="patch" th:action="@{/editUser/{userId}(userId=${user.getId()})}"
      th:object="${user}">
  <table>
    <tr>
      <td>Username</td>
      <td><input th:type="text" th:field="*{username}"
                 th:value="${user.getUsername()}" class="data" required></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><input th:type="text" th:field="*{name}" th:value="${user.getName()}"
                 class="data" required></td>
    </tr>
    <tr>
      <td>Surname</td>
      <td><input th:type="text" th:field="*{lastname}"
                 th:value="${user.getLastname()()}" class="data" required></td>
    </tr>
    <tr>
      <td>Watched Supernatural?</td>
      <td><input th:type="text" th:field="*{personWhoStudiesJava}"
                 th:value="${user.getPersonWhoStudiesJava()()}"
                 class="data" required></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" th:field="*{password}"
                 th:value="${user.getPassword()}" class="data" required ></td>
    </tr>
    <tr>
      <td>Roles</td>
      <td>
        <th:block th:each="role : ${roleList}">
          <input type="checkbox" name="roleIds"  th:value="${role.getId}"/>
          <label th:text="${role.role}"></label>
        </th:block>
      </td>
    </tr>
    <tr>
      <td colspan="2" height="20px"></td>
    </tr>
    <tr style="text-align: right;">
      <td colspan="2"><input type="submit" value="Save changes"
                             id="saveButton"/>&nbsp;&nbsp;&nbsp;<a
          th:href="@{/admin}">Cancel</a></td>
    </tr>
  </table>

</form>
</body>
</html>