
<!-- Фрагмент модального окна для подтверждения удаления пользователя -->
<div th:fragment="deleteModal">
  <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteUserModalLabel">Delete user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Are you sure you want to delete this user?</h5>
          <form id="deleteUserForm">
            <div class="form-group">
              <label class="row font-weight-bold justify-content-center" for="id">ID</label>
              <label for="id_delete"></label><input th:name="id" th:type="text" class="form-control"
                                                    th:value="${user.id}" id="id_delete" readonly />
            </div>

            <div class="form-group">
              <label class="row font-weight-bold justify-content-center" for="username">LogIn</label>
              <label for="username_delete"></label><input th:name="username" th:type="text"
                                                          class="form-control" th:value="${user.username}" id="username_delete" readonly />
            </div>

            <div class="form-group">
              <label class="row font-weight-bold justify-content-center" for="name">Name</label>
              <label for="name_delete"></label><input th:name="name" th:type="text" class="form-control"
                                                      th:value="${user.name}" id="name_delete" readonly />
            </div>

            <div class="form-group">
              <label class="row font-weight-bold justify-content-center" for="lastname">Last name</label>
              <label for="lastname_delete"></label><input th:name="lastname" th:type="text"
                                                          class="form-control" th:value="${user.lastname}" id="lastname_delete" readonly />
            </div>

            <div class="form-group">
              <label class="row font-weight-bold justify-content-center" for="personWhoStudiesJava">Is
                learning Java?</label>
              <label for="personWhoStudiesJava_delete"></label><input th:name="personWhoStudiesJava"
                                                                      th:type="text" class="form-control" th:value="${user.personWhoStudiesJava}"
                                                                      id="personWhoStudiesJava_delete" readonly />
            </div>

            <div class="form-group">
              <label class="row font-weight-bold justify-content-center" for="password">Password</label>
              <label for="password_delete"></label><input th:name="password" th:type="text"
                                                          class="form-control" th:value="${user.password}" id="password_delete" readonly />
            </div>

            <label class="row font-weight-bold justify-content-center">Role</label>
            <label for="roles_delete"></label><label for="roles_delete"></label><select multiple
                                                                                        class="form-control" size="2" id="roles_delete" name="roles" readonly>

            <option th:each="roles : ${roleList}" th:text="${roles.getNoPrefix()}"
                    th:value="${roles.id}" th:selected="${user.roles.contains(roles)}"></option>
          </select>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>