<!--Верх страницы с возможностью выхода-->

<div th:fragment="headerFragment" style="padding: 10px;">

  <!--logOut-->
  <li class="list-inline-item"><h4 th:text="${user.getName()}"></h4></li>
  <li class="list-inline-item"><h4 th:text="' with roles: ' + ${user.getRoles()}"></h4></li>
  <!--logOut-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/logout" class="btn btn-outline-danger">Log out</a>
        </li>
      </ul>
    </div>
  </nav>

</div>



