
<div th:fragment="newUserFormFragment">
  <form th:method="POST" th:action="@{/addUser}" id="newUserForm">


    <div class="container col-md-4 d-flex flex-column justify-content-center align-items-center">
      <label class="font-weight-bold" for=>Name</label>
      <input th:name="name"
             th:type="text"
             class="form-control"
             th:value="${name}"
             id="name_new_user"
           placeholder="Name"/>
  </div>


  <div class="container col-md-4 d-flex flex-column justify-content-center align-items-center">
    <label class="font-weight-bold" for=>Last name</label>
    <input th:name="lastname"
           th:type="text"
           class="form-control"
           th:value="${lastname}"
           id="lastname_new_user"
           placeholder="Last name"/>
  </div>


  <div class="container col-md-4 d-flex flex-column justify-content-center align-items-center">
    <label class="font-weight-bold" for=>Login</label>
    <input th:name="username"
           th:type="text"
           class="form-control"
           th:value="${username}"
           id="login_new_user"
           placeholder="Login"/>
  </div>


  <div class="container col-md-4 d-flex flex-column justify-content-center align-items-center">
    <label class="font-weight-bold" for=>Is learning Java?</label>
    <input th:name="personWhoStudiesJava" th:type="text"
           class="form-control"
           th:value="${personWhoStudiesJava}"
           id="personWhoStudiesJava_new_user"
           placeholder="Is learning Java?"/>
  </div>


  <div class="container col-md-4 d-flex flex-column justify-content-center align-items-center">
    <label class="font-weight-bold" for=>Password</label>
    <input th:name="password"
           th:type="password"
           class="form-control"
           th:value="${password}"
           id="password_new_user"
           placeholder="Password"/>
  </div>


  <div class="container col-md-4 d-flex flex-column justify-content-center align-items-center">
    <label class="font-weight-bold" for="roles_new_user">Role</label>
    <select multiple class="form-control" size="2" id="roles_new_user" name="roles">
      <option th:each="roles : ${roleList}" th:text="${roles.getNoPrefix()}"
              th:value="${roles.id}" th:selected="${user.roles.contains(roles)}"></option>
    </select>
  </div>

    <br>
    <div class="container text-center col-md-4">

      <button type="submit" class="btn btn-success btn-lg" id="createUserBtn">Add new user</button>
    </div>

  </form>
  <!--  Конец тела окна-->
</div>


<!--<script>-->
<!--  const form = document.getElementById("newUserForm");-->
<!--  const createUserBtn = document.getElementById("createUserBtn");-->

<!--  createUserBtn.addEventListener("click", (event) => {-->
<!--    event.preventDefault();-->

<!--    const formData = new FormData(form);-->

<!--    fetch("/api/add", {-->
<!--      method: "POST",-->
<!--      body: formData,-->
<!--    })-->
<!--    .then((response) => {-->
<!--      if (response.ok) {-->

<!--        // Обновить страницу или перенаправить на другую страницу-->
<!--        window.location.href = "/admin";-->

<!--      } else {-->
<!--        alert("Ошибка при создании пользователя");-->
<!--      }-->
<!--    })-->
<!--    .catch((error) => {-->
<!--      console.error(error);-->
<!--    });-->
<!--  });-->
<!--</script>-->


<!--<style>-->
<!--  .form-group {-->
<!--    max-width: 400px;-->
<!--    margin: 0 auto;-->
<!--  }-->

<!--  .form-control {-->
<!--    width: 100%;-->
<!--  }-->
<!--</style>-->


<!--<div th:fragment="newUserFormFragment">-->

<!--  <form class="d-flex flex-column align-items-center">-->

<!--    <div class="form-group">-->
<!--      <label for="name">Name:</label>-->
<!--      <input type="text" class="form-control" id="name" placeholder="Enter name">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="last-name">Last Name:</label>-->
<!--      <input type="text" class="form-control" id="last-name" placeholder="Enter last name">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="login">Login:</label>-->
<!--      <input type="text" class="form-control" id="login" placeholder="Enter login">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="java">Is learning Java?</label>-->
<!--      <input type="text" class="form-control" id="java" placeholder="Enter 'Yes' or 'No'">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="password">Password:</label>-->
<!--      <input type="password" class="form-control" id="password" placeholder="Enter password">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="role">Role:</label>-->
<!--      <select class="form-control form-control-sm" id="role" multiple>-->
<!--        <option>User</option>-->
<!--        <option>Admin</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-success">Add User</button>-->
<!--  </form>-->


<!--</div>-->

<!--<script src="/static/js/addNewUser.js" > </script>-->


