<div th:fragment="userPanel">

  <h3>User panel</h3>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>LogIn</th>
      <th>Name</th>
      <th>LastName</th>
      <th>Is learning Java?</th>
      <th>Role</th>
    </tr>
    </thead>

    <tbody id="users-table-body">

    <tr >
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.lastname}"></td>
      <td th:text="${user.personWhoStudiesJava}"></td>
      <td>
        <span th:text="${user.roles}"></span>
      </td>
    </tr>

    </tbody>
  </table>

</div>