<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/style.css" />
  <title>All users</title>
</head>
<body>
<table id="adminTable">
  <tr><th>Id</th><th>Логин</th><th>Name</th><th>LastName</th><th>Изучает java?</th><th>Role</th> <th>Actions</th></tr>
  <th:block th:each="user : ${users}">
    <tr>
      <td th:text="${user.getId()}"></td>
      <td th:text="${user.getUsername()}"></td>
      <td th:text="${user.getName()}"></td>
      <td th:text="${user.getLastname()()}"></td>
      <td th:text="${user.getPersonWhoStudiesJava()}"></td>
      <td th:text="${user.getRoles()}"></td>
      <td><a th:text="Edit" th:href="@{editUser/{userId}(userId=${user.getId()})}"></a>&nbsp;|&nbsp;<a th:text="Delete" th:href="@{deleteUser/{userId}(userId=${user.getId()})}"></a>
      </td></tr>
  </th:block>
</table><br><br>
<a th:href="addUser"><input type="button" id="addB" value="Add new user"></a>
<br>
<form th:method="POST" th:action="@{/logout}" style="float: right; margin-right: 10px;">
  <input id="logout" type="submit" value="Exit">
</form>
</body>
</html>