<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>User Details</title>
</head>
<body>

<h1>User Details</h1>
<p>Id: <span th:text="${user.id}"></span></p>
<p>User name: <span th:text="${user.name}"></span></p>
<p>User lastname: <span th:text="${user.lastname}"></span></p>
<p>Изучает java?: <span th:text="${user.personWhoStudiesJava}"></span></p>
<p>Roles: <span th:text="${user.roles}"></span></p>

<!-- add other user details here -->

</body>
</html>











<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <link rel="stylesheet" href="/Style.css"/>-->
<!--  <title>User information-page</title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="user-container">-->
<!--  <h1 th:if="${user != null}" th:text="${user.getUsername()}"></h1>-->
<!--  <label>Name</label>-->
<!--  <p th:if="${user != null}" th:text="${user.getName()}"></p>-->
<!--  <label>LastName</label>-->
<!--  <p th:if="${user != null}" th:text="${user.getLastname()}"></p>-->
<!--  <label>Изучает java?</label>-->
<!--  <p th:if="${user != null}" th:text="${user.getPersonWhoStudiesJava()}"></p>-->
<!--  <label>Roles</label>-->
<!--  <p th:each="role: ${user.getRoles()}" th:text="${role.getRole()}"></p>-->
<!--</div>-->


<!--<form th:method="POST" th:action="@{/logout}">-->
<!--  <input id="logout" type="submit" value="Logout">-->
<!--</form>-->

<!--</body>-->
<!--</html> -->







